doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title schoo-kids
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header
      h1 小学生のプログラミング・スクール「スクーキッズ」
      a(href="#") 無料体験してみよう

      nav
        ul
          each list, i in ['facebook', 'twitter', 'pinterest', 'Line']
            li: a(href="#")= list
        h2
          a(href-"#")
            img(src="images/schoologo.svg" alt="スクーWebキャンパスロゴ画像")
        ul
          each list, i in [{text: 'カリキュラム', link: 'course'}, {text: '教室', link: 'room'}, {text: 'アクセス', link: 'access'}, {text: 'お問い合わせ', link: 'contact'}]
            li: a(href="##{list.link}")= list.text

    main
      article
        h2 楽しくロジカルシンキングを身につける
        p
          | 対象は小学校1年生から6年生まで。パソコンやスマートフォンをほとんど触ったことが無いというお子様でも大丈夫！指導員は情報系大学生のお兄さん・お姉さん。楽しく遊んでいるうちにプロジカルシンキングが身につきます。
        - sections = [{h3: 'iPhoneアプリコース', p: 'マウス操作だけでできるScratchを使う初級から、Xcodeを使ったアプリ開発をする上級まで、自分でゲームを作りながら自然にプログラムのしくみを学んでいきます。'}, {h3: 'Webサービスコース', p: 'HTML、CSS、JavaScript等のプログラミング言語を用いて、インターネットブラウザ上で動作するアプリを開発します。テキストエディターというソフトを使います。'}, {h3: 'ロボットコース', p: '簡単なソフトを使ってロボットを動かす初級から、プログラミングにモーションセンサや加速度センサを組み合わせ、自由自在に動くロボットを作る上級コースまであります。'}]
        each section, i in sections
          section
            h3= section.h3
            p= section.p

      article
        h2 テクノロジーと遊びがいっぱいの教室
        - sections = [{h3: 'グループ制作', p: '明るく楽しい教室で遊んでいるうちに自然にプログラミングの基礎と、ロジカルシンキングを身につけて行ける環境です。'}, {h3: 'メンターの先生', p: '先生はやさしい大学生のお兄さん・お姉さんです。一人一人の進み具合に合わせて教えていきます。'}, {h3: '作ったアプリの発表', p: '作った作品を発表します。みんな集まってワイワイ楽しいひと時です。先生が一人一人に評価のコメントをします。'}]
        each section, i in sections
          section
            h3= section.h3
            p= section.p

      section
        h2 お問い合わせフォーム
        p 各コースは無料体験できます。ご希望の日時を添えてこちらのフォームからお申込みください。

    aside
      h2 「スクーキッズ」へのアクセス
      section
        h3 道玄坂に面しているのでお子様の通学も安全です
        p 渋谷駅からマークシティー沿いに進むと、道元坂上の交番が見えます。 交番の前の道を渡り、道なりに進むと第一暁ビルがあります。その5階がスクーキッズです。

    footer

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
